{% extends "layout.html" %}
{% block content %}


<div class="row">
  <div id="canvasDiv"></div>
</div>
<div class="row">
  <div id="resultsDiv" class="container"></div>
</div>
<div class="row">
  <button type='button' id='clearBtn' name='clearBtn'>Clear</button><br /><br />
</div>
<script type=text/javascript>


  // Draw some boxes
  function makeGradient(value) {
    var pleft = (1-value) * 100;
    var pright = (1-value) * 100 + 10;
    return "linear-gradient(180deg, rgba(255,0,0,0) "
            + pleft + "%, rgba(0,0,0,0.4) " + pright + "%)";
  }

  function clearDiv(divToClear) {
    while (divToClear.firstChild) {
      divToClear.removeChild(divToClear.firstChild);
    }
  }

  function clearResults() {
    var resultsDiv = document.getElementById('resultsDiv');
    clearDiv(resultsDiv)
  }

  function redrawResults(values) {
    var resultsDiv = document.getElementById('resultsDiv');
    clearResults();
    //
    // resultsDiv.setAttribute("style", "align-items: center")


    var count = 0;
    for(count = 0; count < 10; count++) {
      classVal = "result_row col-md-1";
      if(count == 0) {
        classVal += " col-md-offset-1";
      }

      currentRow = document.createElement("div");
      currentRow.setAttribute("class", classVal);
      currentRow.style.background = makeGradient(values[count]);
      // currentRow.style.width = '30px';

      currentHeading = document.createElement("h4");
      currentHeading.innerHTML = count;

      currentRow.appendChild(currentHeading);
      resultsDiv.appendChild(currentRow);
    }
  }


  // Stolen from this sweet tutorial
  // http://www.williammalone.com/articles/create-html5-canvas-javascript-drawing-app/#demo-simple

  var canvasWidth = 400;
  var canvasHeight = 400;

  var canvasDiv = document.getElementById('canvasDiv');
  canvas = document.createElement('canvas');
  canvas.setAttribute('width', canvasWidth);
  canvas.setAttribute('height', canvasHeight);
  canvas.setAttribute('id', 'canvas');
  canvas.style.backgroundColor = 'rgba(127, 127, 127, 0.3)'; // TODO use css?
  canvasDiv.appendChild(canvas);
  if(typeof G_vmlCanvasManager != 'undefined') {
  	canvas = G_vmlCanvasManager.initElement(canvas);
  }
  context = canvas.getContext("2d");




  $('#canvas').mousedown(function(e){
    canvasOffset = $("#canvas").offset()
    var mouseX = e.pageX - canvasOffset.left;
    var mouseY = e.pageY - canvasOffset.top;

    paint = true;
    addClick(mouseX, mouseY);
    redraw();
  });

  var paint = false;

  $('#canvas').mousemove(function(e){
    if(paint){
      canvasOffset = $("#canvas").offset()
      var mouseX = e.pageX - canvasOffset.left;
      var mouseY = e.pageY - canvasOffset.top;

      addClick(mouseX, mouseY, true);
      redraw();
    }
  });

  $('#canvas').mouseup(function(e){
    paint = false;
    updatePrediction();
  });

  var clickX = new Array();
  var clickY = new Array();
  var clickDrag = new Array();
  var paint;

  function addClick(x, y, dragging)
  {
    clickX.push(x);
    clickY.push(y);
    clickDrag.push(dragging);
  }

  function redraw(){
    context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas

    context.strokeStyle = "#df4b26";
    context.lineJoin = "round";
    context.lineWidth = 5;

    for(var i=0; i < clickX.length; i++) {
      context.beginPath();
      if(clickDrag[i] && i){
        context.moveTo(clickX[i-1], clickY[i-1]);
       }else{
         context.moveTo(clickX[i]-1, clickY[i]);
       }
       context.lineTo(clickX[i], clickY[i]);
       context.closePath();
       context.stroke();
    }
  }

  function clearCanvas() {
    clickX = [];
    clickY = [];
    clickDrag = [];
    redraw();
  }

  function updatePrediction() {
    traceObj = JSON.stringify({xs: clickX, ys: clickY});
    $.ajax({
      type: "GET",
      url: $SCRIPT_ROOT + "/digittrace/",
      contentType: "application/json; charset=utf-8",
      data: {trace: traceObj},
      success: function(data) {
          $('#resultTxt').text("That looks like a " + data.value);
          redrawResults(data.proba);
      },
      error: function(jqXHR, textStatus, errorThrown) {
          alert(errorThrown);
      }
    });
  }

  $(function() {
    $("#clearBtn").click(function() {
        clearCanvas();
        clearResults();
    });
  });

</script>
{% endblock %}
